
// Alert

[class*="alert"] {
    padding: 15px;
    border: 1px solid #f9f9f9;
    background: #f6f6f6;
}

.alert {
    &--success {
        border-left: 8px solid $success;
    }
    
    &--danger {
        border-left: 8px solid $danger;
        background: linear-gradient(to right, #c0e29c, #cde8b0, #d9eec4);
    }
    
    &--warning {
        border-left: 8px solid $warning;
        background: linear-gradient(to right, #c0e29c, #cde8b0, #d9eec4);
    }
    
    &--info {
        border-left: 8px solid $info;
        background: linear-gradient(to right, #c0e29c, #cde8b0, #d9eec4);
    }
}