
// Display

.flex {
    display: flex;
    
    &.column {
        flex-direction: column; /* row, column, row-reverse, column-reverse */
    }
    
    &.wrap {
        flex-wrap: wrap; /* no-wrap, wrap */
    }
    
    &.content-start {
        justify-content: flex-start;
    }
    
    &.content-end {
        justify-content: flex-end;
    }
    
    &.content-around {
        justify-content: space-around;
    }
    
    &.content-between {
        justify-content: space-between;
    }
    
    &.align-start {
        align-items: flex-start;
    }
    
    &.align-end {
        align-items: flex-end;
    }
    
    &.align-center {
        align-items: center;
    }
    
    &.align-stretch {
        align-items: stretch;
    }
    
    &.align-baseline {
        align-items: baseline;
    }
    
    > .item {
        
        &.self-start {
            align-self: flex-start;
        }
        
        &.self-end {
            align-self: flex-end;
        }
        
        &.self-center {
            align-self: center;
        }
        
        &.self-stretch {
            align-self: stretch;
        }
        
        &.self-baseline {
            align-self: baseline;
        }
    }
}