
// Display

.flex {
    display: flex;
    
    &.column {
        flex-direction: column; /* row, column, row-reverse, column-reverse */
    }
    
    &.wrap {
        flex-wrap: wrap; /* no-wrap, wrap */
    }
    
    &.content-start {
        justify-content: flex-start;
    }
    
    &.content-end {
        justify-content: flex-end;
    }
    
    &.content-around {
        justify-content: space-around;
    }
    
    &.content-beteween {
        justify-content: space-beteween;
    }
    
    &.align-start {
        align-items: flex-start;
    }
    
    &.align-end {
        align-items: flex-end;
    }
    
    &.align-center {
        align-items: center;
    }
    
    &.align-strech {
        align-items: strech;
    }
    
    &.align-baseline {
        align-items: baseline;
    }
}